APIS/ConsumoWCF/Connected Services/ProductosServices/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WCF_CLASE11/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WCF_CLASE11/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Calculadora_InputMessage">
    <wsdl:part name="parameters" element="tns:Calculadora" />
  </wsdl:message>
  <wsdl:message name="IService1_Calculadora_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculadoraResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_AgregarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerProductosConcatenado_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosConcatenado" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerProductosConcatenado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosConcatenadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Calculadora">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Calculadora" message="tns:IService1_Calculadora_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CalculadoraResponse" message="tns:IService1_Calculadora_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AgregarProducto" message="tns:IService1_AgregarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AgregarProductoResponse" message="tns:IService1_AgregarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductosConcatenado">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerProductosConcatenado" message="tns:IService1_ObtenerProductosConcatenado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerProductosConcatenadoResponse" message="tns:IService1_ObtenerProductosConcatenado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calculadora">
      <soap:operation soapAction="http://tempuri.org/IService1/Calculadora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/AgregarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductosConcatenado">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerProductosConcatenado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Calculadora">
      <soap:operation soapAction="http://tempuri.org/IService1/Calculadora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/AgregarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductosConcatenado">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerProductosConcatenado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost/WCF_CLASE11/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService1" binding="tns:BasicHttpsBinding_IService1">
      <soap:address location="https://0275-jamador.aplicom.local/WCF_CLASE11/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>